pkgbase = rclone
	pkgdesc = rsync for cloud storage
	pkgver = 1.73.3
	pkgrel = 1
	url = https://github.com/rclone/rclone
	arch = x86_64
	license = MIT
	makedepends = python
	makedepends = go
	makedepends = git
	makedepends = fuse3
	depends = glibc
	optdepends = fuse3: for rclone mount
	options = !lto
	source = git+https://github.com/rclone/rclone.git#tag=v1.73.3?signed
	validpgpkeys = E3B358DC858FB307F48170B9CB0DBEBC5F32C81D
	sha512sums = 2ebdaf434ed96c1d78c322a472025931a88a7338fe50b87c65ba9c268a9be691206d032a2ba5a46f41c118cfdddeef79ad22e46c3375ccedb329eeacf9fd56bc

pkgname = rclone
